.hiddenRow {
  padding: 0 !important;
  border-top: 0 none;
  margin-bottom: 2px;
  margin-top: -2px;
  overflow: auto;
  position: relative;
  top: 1px;
}

.ul {
  margin-top: 7px;
}

.moreMuted{
  color: $moreMuted;
}

.btn.margin-add-to-cart {
  margin: 10px 20px;
}

h3.margin-class-name {
  margin: 40px 0px 0px 0px;
}

.margin-class-type {
  margin: 0px 0px 0px 30px;
}

div.title-container{
  width:300px;
  position:relative;
  padding-bottom: 8px;
}

a.cart-button{
  display:block;
  position:absolute;
  top:-8px;
  right:0;
}
